# Logs
logs
*.log
npm-debug.log*

node_modules

# Service account credentials / secrets
**/puzzmo-game-*.json
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
